/**********************************************
*** GENERAL
**********************************************/



body {
    /* background-image: url(/background.jpg); */
    background-color: green;
    background-size: cover;
    background-position: center;
    font-family: OpenSans;
    font-weight: 300;
    position: relative;
    color: #ffffff;
}

h1 {
    text-align: center;
}

.board {
    background-image: url(assets/board2.png);
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}

.rules {
    margin: 0;
    padding: 100px;
}