/**********************************************
*** GENERAL
**********************************************/




body {
    background-image: url('assets/africanbg2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    font-family: OpenSans;
    font-weight: 300;
    position: relative;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body>div.container>div {
    border: none;
}

@font-face {
    font-family: "Assyrian";
    font-weight: normal;
    src: url("assets/Assyrian.ttf");
    }

@font-face {
    font-family: "Assyrian";
    src: url("assets/Assyrian3D.ttf");
    font-weight: bold;
    }

@font-face {
    font-family: "AssyrianFilled";
    src: url("assets/Assyrian3DFilled.ttf");
    font-weight: bold;
    }
    

.maintitle h1 {
    color: black;
    font-size: 5.5rem;
    text-align: center;
    font-family: "Assyrian";
    font-weight: bold;
}

.col {
    font-family: "Assyrian";
    font-weight: normal;
    font-size: 1.5rem;
}

.bottomtext {
    font-family: "Assyrian";
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
    /* display: none; */
}




.disableMe {
    pointer-events: none;
}

header #start-b {
    align-content: center;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(230, 185, 39);
    color: white;
}

#start-button #restart {
    margin:0 auto;
    float: center;
    color: orange;
    border-radius: 12px;
    font-size: 20px;
}

header div {
    display: grid;
    align-items: center;
    justify-content: center;
}


.row {
    border: 1px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    justify-content: space-evenly;
}

.col {
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: justify;
    text-align: center;
}

.col-1{
    border: outset;
}

#bucket-0, #bucket-1 {
    background-image: url(assets/bowl.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 185px;
    margin-top: 7%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: "Assyrian";
    font-weight: normal;
    font-size: 1.2rem;
}

ol {
    text-align: -webkit-auto;
    padding-left: 75px;
    padding-right: 75px;
}

#\36 {
    border: none;
    font-size: xx-large;
    color: aliceblue;
}

#\31 3 {
    border: none;
    font-size: xx-large;
    color: aliceblue;
}

.active {
    background-color: #2571cd;
}

#stones>div>div>div.modal-body>input {
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#inst>div>div>div.modal-body>a {
    text-align: center;
}

#about>div>div img {
    vertical-align: middle;
    border-style: none;
    padding-bottom: 10px;
    margin: 10px;
}

#about>div>div p {
    margin: 20px;
    margin-bottom: 1rem;
}

blockquote {
    text-align: center;
}

/* On screens that are 600px or less, set the settings appropiately  */
@media screen and (max-width: 600px) {

    #bucket-0, #bucket-1 {
        background-image: url(assets/bowl.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 215px;
        margin-top: 15%;
        margin-right: 2%;
        margin-left: 2%;
        font-family: "Assyrian";
        font-size: 1.2rem;
    }

}
