/**********************************************
*** GENERAL
**********************************************/

canvas {
    border: 1px solid red;
}

body {
    /* background-image: url(/background.jpg); */
    background-color: green;
    background-size: cover;
    background-position: center;
    font-family: OpenSans;
    font-weight: 300;
    position: relative;
    color: #ffffff;
}

header #start-b {
    align-content: center;
}

h1 {
    text-align: center;
}

/* .board {
    background-image: url(assets/board2.png);
    background-repeat: no-repeat;
    background-position: center;
} */

.rules {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(230, 185, 39);
    color: white;
}

#start-button {
    margin:0 auto;
    float: center;
    border-radius: 12px;
    font-size: 24px;
    padding: 20px 32px;
}

header div {
    display: grid;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid red;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto;
    padding-bottom: 10px;
    /* top:10px;
    bottom: 0;
    left: 0;
    right: 0; */
    z-index: -10;
}